<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bitwiseio.sawtooth.xo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name="bitwiseio.sawtooth.xo.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="bitwiseio.sawtooth.xo.CreateGameActivity"
                android:label="Create Game"
                android:windowSoftInputMode="adjustResize"
                android:parentActivityName="bitwiseio.sawtooth.xo.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="bitwiseio.sawtooth.xo.MainActivity"/>
        </activity>
        <activity
                android:name="bitwiseio.sawtooth.xo.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:parentActivityName="bitwiseio.sawtooth.xo.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="bitwiseio.sawtooth.xo.MainActivity"/>
        </activity>
        <activity
            android:name="bitwiseio.sawtooth.xo.GameBoardActivity"
            android:label="Game Board"
            android:parentActivityName="bitwiseio.sawtooth.xo.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bitwiseio.sawtooth.xo.MainActivity"/>
        </activity>
    </application>

</manifest>
